// Smooth Scrolling
html {
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
}

$border-radius: 5px;

// Body

body {
  font-family: "Aleo", sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
}

.full-screen,
.full-screen > * {
  min-height: 100vh;
}

// Backgrounds
.background-white {
  background-color: $white;
}

.background-black {
  background-color: $black;
}

// Headers

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

// Navbar
nav {
  z-index: 2;
}

.nav .nav-link {
  background-color: $blue-800;
  transition: 0.25s ease-in-out;

  &:hover,
  &:focus-visible,
  &.active {
    background-color: $blue-900;
  }
}

// Footer
.copyright {
  font-size: 0.875rem;
  color: $gray-600;

  & a {
    color: $blue-600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Inner content
.post-content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  & h1 {
    font-size: 3rem;
    font-weight: 300;
    color: $blue-800;
    font-weight: bold;
  }
}


.post .post-title {
  font-size: 3rem;
  font-weight: 300;
  color: $blue-800;
  font-weight: bold;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-weight: bold;
}

.square {
  border-radius: 10px;
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: bottom;
}

.extended-color {
  & p:first-of-type {
    font-weight: 700;
    margin-bottom: 0;
  }
  & p:nth-of-type(2) {
    color: #6B7280;
    text-transform: uppercase;
  }
}

.button-primary {
  background: $blue-500;
  border-radius: .5rem;
  color: $white;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: .25s ease-in-out;

  &:hover, &:focus-visible {
    background-color: $blue-600;
    color: $white;
  }
}

.big-text {
  color: $blue-800;
  font-size: 7.5rem;
  font-weight: 700;
}

.alphabet {
  color: #686868;
  letter-spacing: .5rem;
  font-size: 2.25rem;
  overflow: auto;
}

.weights {
  font-size: 3rem;
  color: $blue-800;
}

.bold-italic {
  font-weight: 700 !important;
  font-style: italic;
}

.regular-italic {
  font-weight: 400;
  font-style: italic;
}

.light-italic {
  font-weight: 300;
  font-style: italic;
}

// Colors

.colors {
  &:first-child {
    .color-overview {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  &:last-child {
    .color-overview {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:hover {
      .color-overview {
        border-bottom-left-radius: 0;
      }
    }
  }

  .color-overview {
    transition: .1s linear;
    display: flex;

    .variable {
      flex-grow: 2;
      color: $gray-900;
    }

    .hex {
      transition: .15s linear;
      opacity: 0;
      color: $gray-900;
    }
  }

  .color-details {
    display: none;
    flex-wrap: wrap;

    .color-details--section {
      flex-grow: 2;
      flex-basis: 50%;

      .pass { color:#53830E; }
      .fail { color: #DB3B21; }
    }
  }

  // color-overview height + color-details height
  .color-priority {
    height: 128px;
  }

  &:hover {
    .color-overview {
      margin: 0 -8px 0 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      transition: .15s linear;
    }

    > .color-details {
      display: flex;
    }

  }
}

.palette {
  &:hover {
    .color-priority {
      height: auto;
    }
    .hex {
      opacity: 1;
    }
  }
}

.inverted {
  color: $white !important;
}

.f-small {
  text-transform: lowercase;
}

.color-details--section {
  color: $gray-900;
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
  clip-path: none;
  color: black;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  width: auto;
  top: 0.25rem;
  left: 0.25rem;
  line-height: normal;
  padding: 1rem;
  text-decoration: none;
  z-index: 100000;
}
