<!DOCTYPE html>
<html lang="{{ .Site.Language }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body class="d-flex flex-column min-vh-100">
    <a class="screen-reader-text" href="#content">Skip to content</a>

    <div id="content" class="content">
        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-12 py-5">
                        <article>
                            <div class="post-content">
                                {{ .Content }}
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </main>
    </div>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}

</body>

</html>