{{ define "main" }}
<main class="post pt-3">

    <div class="row align-items-center justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-10 col-12 pt-4">
            <h1 class="post-title" id="colors">Colors</h1>
            <h2 class="contact">Brand - Light mode</h2>

            <div class="row py-4">
                <div class="col-xl-4 col-lg-12 pb-xl-0 pb-3">
                    <div class="card background-blue-500 text-white border-0">
                        <div class="card-body">
                            <h5 class="card-title pb-4">Blue-500</h5>
                            <p class="card-text">
                                #3B82F6<br />
                                RGB (59,130,246)<br />
                                PANTONE 2727 C</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 pb-xl-0 pb-3">
                    <div class="card background-gray-800 text-white border-0">
                        <div class="card-body">
                            <h5 class="card-title pb-4">Gray-800</h5>
                            <p class="card-text">
                                #1F2937<br />
                                RGB (31,41,55)<br />
                                PANTONE 426 C</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card background-white text-dark border-dark">
                        <div class="card-body">
                            <h5 class="card-title pb-4">White Background</h5>
                            <p class="card-text">
                                #FFFFFF<br />
                                RGB (255,255,255)<br />
                                PANTONE 11-0601 TCX</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="contact">Brand - Dark mode</h2>

            <div class="row py-4">
                <div class="col-xl-4 col-lg-12 pb-xl-0 pb-3">
                    <div class="card background-blue-400 text-dark border-0">
                        <div class="card-body">
                            <h5 class="card-title pb-4">Blue-400</h5>
                            <p class="card-text">
                                #60A5FA<br />
                                RGB (96,165,250)<br />
                                PANTONE 284 C</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 pb-xl-0 pb-3">
                    <div class="card background-white text-dark border-dark">
                        <div class="card-body">
                            <h5 class="card-title pb-4">White Background</h5>
                            <p class="card-text">
                                #FFFFFF<br />
                                RGB (255,255,255)<br />
                                PANTONE 11-0601 TCX</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card background-gray-800 text-white border-0">
                        <div class="card-body">
                            <h5 class="card-title pb-4">Gray-800</h5>
                            <p class="card-text">
                                #1F2937<br />
                                RGB (31,41,55)<br />
                                PANTONE 426 C</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="contact">Extended</h2>

            <div class="color-palette row">
                <div class="col col-md-6 col-xs-12 mb-4">
                    <div class="distributed palette">
                        <div class="colors">
                            <div class="color-overview background-blue-50 p-2">
                                <span class="variable">$blue-50</span>
                                <span class="hex f-small">#eff7ff</span>
                            </div>
                            <div class="color-details border-blue-50 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-50 border-blue-50 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-50 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-50 border-blue-50 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-50 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-50 border-blue-50 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-50 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-50 border-blue-50 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-50 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-100 p-2">
                                <span class="variable">$blue-100</span>
                                <span class="hex f-small">#ddedfe</span>
                            </div>
                            <div class="color-details border-blue-100 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-100 border-blue-100 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-100 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-100 border-blue-100 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-100 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-100 border-blue-100 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-100 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-100 border-blue-100 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-100 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-200 p-2">
                                <span class="variable">$blue-200</span>
                                <span class="hex f-small">#bddffe</span>
                            </div>
                            <div class="color-details border-blue-200 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-200 border-blue-200 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-200 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-200 border-blue-200 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-200 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-200 border-blue-200 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-200 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-200 border-blue-200 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-200 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-300 p-2">
                                <span class="variable">$blue-300</span>
                                <span class="hex f-small">#8bcafd</span>
                            </div>
                            <div class="color-details border-blue-300 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-300 border-blue-300 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-300 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-300 border-blue-300 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-300 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-300 border-blue-300 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-300 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-300 border-blue-300 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-300 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-400 p-2">
                                <span class="variable contrast-blue">$blue-400</span>
                                <span class="hex f-small contrast-blue">#52adf9</span>
                            </div>
                            <div class="color-details border-blue-400 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-400 border-blue-400 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-400 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-400 border-blue-400 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-400 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-400 border-blue-400 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-400 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-400 border-blue-400 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-400 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-priority color-overview background-blue-500 p-2">
                                <span class="variable inverted">$blue-500</span>
                                <span class="hex f-small inverted">#2b8ef1</span>
                            </div>
                            <div class="color-details border-blue-500 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-500 border-blue-500 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-500 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-500 border-blue-500 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-500 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-500 border-blue-500 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-500 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-blue-500 border-blue-500 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-500 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-600 p-2">
                                <span class="variable inverted">$blue-600</span>
                                <span class="hex f-small inverted">#196fde</span>
                            </div>
                            <div class="color-details border-blue-600 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-600 border-blue-600 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-600 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-600 border-blue-600 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-600 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-600 border-blue-600 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-600 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-600 border-blue-600 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-600 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-700 p-2">
                                <span class="variable inverted">$blue-700</span>
                                <span class="hex f-small inverted">#1457c5</span>
                            </div>
                            <div class="color-details border-blue-700 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-700 border-blue-700 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-700 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-700 border-blue-700 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-700 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-700 border-blue-700 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-700 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-700 border-blue-700 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-700 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-800 p-2">
                                <span class="variable inverted">$blue-800</span>
                                <span class="hex f-small inverted">#1649a0</span>
                            </div>
                            <div class="color-details border-blue-800 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-800 border-blue-800 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-800 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-800 border-blue-800 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-800 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-800 border-blue-800 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-800 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-800 border-blue-800 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-800 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-blue-900 p-2">
                                <span class="variable inverted">$blue-900</span>
                                <span class="hex f-small inverted">#184080</span>
                            </div>
                            <div class="color-details border-blue-900 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-blue-900 border-blue-900 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-900 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-900 border-blue-900 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-900 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-blue-900 border-blue-900 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-blue-900 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-blue-900 border-blue-900 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-blue-900 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-md-6 col-xs-12 mb-4">
                    <div class="distributed palette">
                        <div class="colors">
                            <div class="color-overview background-gray-50 p-2">
                                <span class="variable">$gray-50</span>
                                <span class="hex f-small">#f9fafb</span>
                            </div>
                            <div class="color-details border-gray-50 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-50 border-gray-50 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-50 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-50 border-gray-50 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-50 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-50 border-gray-50 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-50 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-50 border-gray-50 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-50 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-100 p-2">
                                <span class="variable">$gray-100</span>
                                <span class="hex f-small">#f3f4f6</span>
                            </div>
                            <div class="color-details border-gray-100 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-100 border-gray-100 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-100 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-100 border-gray-100 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-100 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-100 border-gray-100 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-100 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-100 border-gray-100 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-100 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-200 p-2">
                                <span class="variable">$gray-200</span>
                                <span class="hex f-small">#e5e7eb</span>
                            </div>
                            <div class="color-details border-gray-200 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-200 border-gray-200 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-200 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-200 border-gray-200 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-200 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-200 border-gray-200 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-200 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-200 border-gray-200 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-200 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-300 p-2">
                                <span class="variable">$gray-300</span>
                                <span class="hex f-small">#d1d5db</span>
                            </div>
                            <div class="color-details border-gray-300 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-300 border-gray-300 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-300 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-300 border-gray-300 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-300 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-300 border-gray-300 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-300 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-300 border-gray-300 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-300 pl-1 pr-1 fail">Fail</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-400 p-2">
                                <span class="variable">$gray-400</span>
                                <span class="hex f-small">#9ca3af</span>
                            </div>
                            <div class="color-details border-gray-400 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-400 border-gray-400 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-400 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-400 border-gray-400 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-400 pl-1 pr-1 fail">Fail</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-400 border-gray-400 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-400 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-400 border-gray-400 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-400 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-priority color-overview background-gray-500 p-2">
                                <span class="variable inverted">$gray-500</span>
                                <span class="hex inverted f-small">#6b7280</span>
                            </div>
                            <div class="color-details border-gray-500 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-500 border-gray-500 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-500 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-500 border-gray-500 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-500 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-500 border-gray-500 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-500 pl-1 pr-1 pass">Pass</div>
                                    <div
                                        class="inverted d-inline-block background-gray-500 border-gray-500 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-500 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-600 p-2">
                                <span class="variable inverted">$gray-600</span>
                                <span class="hex f-small inverted">#4b5563</span>
                            </div>
                            <div class="color-details border-gray-600 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-600 border-gray-600 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-600 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-600 border-gray-600 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-600 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-600 border-gray-600 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-600 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-600 border-gray-600 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-600 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-700 p-2">
                                <span class="variable inverted">$gray-700</span>
                                <span class="hex f-small inverted">#374151</span>
                            </div>
                            <div class="color-details border-gray-700 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-700 border-gray-700 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-700 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-700 border-gray-700 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-700 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-700 border-gray-700 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-700 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-700 border-gray-700 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-700 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-800 p-2">
                                <span class="variable inverted">$gray-800</span>
                                <span class="hex f-small inverted">#1f2937</span>
                            </div>
                            <div class="color-details border-gray-800 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-800 border-gray-800 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-800 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-800 border-gray-800 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-800 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-800 border-gray-800 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-800 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-800 border-gray-800 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-800 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                        <div class="colors">
                            <div class="color-overview background-gray-900 p-2">
                                <span class="variable inverted">$gray-900</span>
                                <span class="hex f-small inverted">#111827</span>
                            </div>
                            <div class="color-details border-gray-900 p-3">
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Normal</div>
                                    <div class="d-inline-block background-gray-900 border-gray-900 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-900 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-900 border-gray-900 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-900 pl-1 pr-1 pass">Pass</div>
                                </div>
                                <div class="color-details--section">
                                    <div class="bold m-b-2">WCAG Large</div>
                                    <div class="d-inline-block background-gray-900 border-gray-900 pl-1 pr-1">AA</div>
                                    <div class="d-inline-block border-gray-900 pl-1 pr-1 fail">Fail</div>
                                    <div
                                        class="inverted d-inline-block background-gray-900 border-gray-900 pl-1 pr-1 m-l-3">
                                        AA</div>
                                    <div class="d-inline-block border-gray-900 pl-1 pr-1 pass">Pass</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="post-title mt-5 mb-4" id="typography">Typography</h2>

            <h3 class="fw-bold">Aleo</h3>
            <p class="mb-4">Aleo is a contemporary typeface designed by Alessio Laiso as the slab serif
                companion to the
                Lato font by Łukasz Dziedzic. Aleo has semi-rounded details and a sleek structure, giving it a
                strong
                personality while still keeping readability high.</p>

            <a class="button-primary" href="https://fonts.google.com/specimen/Aleo" target="_blank"
                rel="noopener noreferrer">Download</a>

            <p class="big-text mt-4">Aleo</p>
            <p class="text-uppercase alphabet">abcdefghijklmnopqrstuvwxyz</p>
            <p class="alphabet">abcdefghijklmnopqrstuvwxyz</p>

            <div class="row weights">
                <div class="col-6">
                    <p class="fw-bold">Aleo Bold</p>
                </div>
                <div class="col-6">
                    <p class="fw-bold fst-italic">Aleo Bold Italic</p>
                </div>
                <div class="col-6">
                    <p>Aleo Regular</p>
                </div>
                <div class="col-6">
                    <p class="fst-italic">Aleo Regular Italic</p>
                </div>
                <div class="col-6">
                    <p class="fw-light">Aleo Light</p>
                </div>
                <div class="col-6">
                    <p class="fw-light fst-italic">Aleo Light Italic</p>
                </div>
            </div>

            <h2 class="post-title mt-5 mb-4" id="logo">Logo</h2>

            <h3 class="fw-bold mt-5">Composition</h3>

            <img class="img-fluid pb-xl-0 pb-3" src="/img/composition.svg" alt="Horizontal composition">

            <h3 class="fw-bold mt-5">Safe areas</h3>

            <img class="img-fluid pb-xl-0 pb-3" src="/img/safe-areas.svg" alt="Safe areas">
            <img class="img-fluid" src="/img/safe-icon.svg" alt="Safe icon area">

            <h3 class="fw-bold mt-5">Logo backgrounds</h3>

            <div class="row">
                <div class="col-xl-4 col-12 pb-xl-0 pb-3">
                    <img class="img-fluid" src="/img/logo-bg-one.svg" alt="logo background one">
                </div>
                <div class="col-xl-4 col-12 pb-xl-0 pb-3">
                    <img class="img-fluid" src="/img/logo-bg-two.svg" alt="logo background two">
                </div>
                <div class="col-xl-4 col-12">
                    <img class="img-fluid" src="/img/logo-bg-three.svg" alt="logo background three">
                </div>
            </div>

            <h3 class="fw-bold mt-5"><span class="color-red-400">Avoid Logo</span> on Background Images</h3>

            <div class="row">
                <div class="col-xl-4 col-12 pb-xl-0 pb-3">
                    <img class="img-fluid" src="/img/background-avoid-one.jpg" alt="Avoid background one">
                </div>
                <div class="col-xl-4 col-12 pb-xl-0 pb-3">
                    <img class="img-fluid" src="/img/background-avoid-two.jpg" alt="Avoid background two">
                </div>
                <div class="col-xl-4 col-12">
                    <img class="img-fluid" src="/img/background-avoid-three.jpg" alt="Avoid background three">
                </div>
            </div>

            <h2 class="post-title mt-5 mb-4" id="pattern">Pattern</h2>

            <div class="row">
                <div class="col-xl-6 col-md-12 col-12">
                    <h3 class="fw-bold mt-3">Light Mode</h3>
                    <img class="img-fluid mt-4" src="/img/pattern-light.svg" alt="Pattern in light mode">
                </div>
                <div class="col-xl-6 col-md-12 col-12">
                    <h3 class="fw-bold mt-3">Dark Mode</h3>
                    <img class="img-fluid mt-4" src="/img/pattern-dark.svg" alt="Pattern in dark mode">
                </div>
            </div>
        </div>

    </div>
</main>
{{ end }}