<aside class="pt-5 text-center sticky-top">
    <a class="navbar-brand px-2" href="{{ .Site.BaseURL }}">
        <img class="img-fluid" src="/img/logo-white.svg" alt="Icarus Project logo">
    </a>
    <ul class="nav flex-column mt-5 text-start">
        {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
        {{- range .Site.Menus.main -}}
            <a class="nav-link py-3 px-4 text-white {{ if eq ($firstUrlElement|lower) (.URL|lower) }}active{{end}}"
                href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        {{ end }}
    </ul>
</aside>